<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peer to peer chat app</title>
</head>
<body>
    <h1>Peer to Peer Chat program</h1>
    <form action="/change-name" method="post">
        <label for="username">Your username:</label>
        <input type="text" name="username" id="username" th:value="${user.name}" />
        <input type="submit" value="Update" />
    </form>
    <form action="/messages/forward-url" method="post">
        <label for="forward-url">Set forward URL:</label>
        <input type="text" name="forward-url" id="forward-url" th:value="${forwardUrl} ? ${forwardUrl} : ''" />
        <input type="submit" value="Set" />
    </form>
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
    <div th:if="${messages}">
        <ul>
            <li th:each="message : ${messages}" th:object="${message}">
                <span th:text="*{username}"></span>
                <div th:text="*{text}"></div>
            </li>
        </ul>
    </div>
    <div>
        <form action="/messages/send" method="post">
            <textarea name="message"></textarea>
            <input type="submit" value="Send" />
        </form>
    </div>
    <div>
        <a href="/">Refresh</a>
    </div>
</body>
</html>